<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>Django Vue.JS Job Board</title>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-default navbar-fixed-top text-center">
            <div class="container">
                <h1>
                    <i class="fa fa-briefcase"></i>
                    Job Board with django+vue.js
                </h1>
            </div>
        </nav>

        {% block jobs %}
        {% endblock %}

        {% csrf_token %}
    </div>
    
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/vue/dist/vue.min.js' %}"></script>
    <script src="{% static 'bower_components/vue-resource/dist/vue-resource.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
